@model BaristaBuddyMVC.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 border-left">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-10 border-left">
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemImageUrl)
        </dt>
        <dd class="col-sm-10 border-left">
            @Html.DisplayFor(model => model.ItemImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10 border-left">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModifiers)
        </dt>
        <dd class="col-sm-10 border-left">
         
            @foreach (var item in Model.ItemModifiers)
            {
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.ModifierName) |
                    @Html.DisplayFor(modelItem => item.AdditionalCost)</li>
                </ul>
            }
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.StoreId, Model.Id }) |
    <a asp-action="Index"
       asp-route-storeid="@Model.Id">Return to List</a>
</div>
