@model IEnumerable<BaristaBuddyMVC.Models.Item>

@{
    ViewData["Title"] = "Your Menu";
}

<h1>Your Menu</h1>

<p>
    <a asp-action="Create"
       asp-route-storeId="@ViewContext.RouteData.Values["StoreId"]">Add New Menu Item</a>
</p>

<div class="text-center row">
    @foreach (var item in Model)
    {
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="margin-top: 15px; min-width: 15rem;">
            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ItemImageUrl)" alt="Store Image" />

            <iv class="card-body">

                <h3 class="card-title text-center">@Html.DisplayFor(modelItem => item.Name)</h3>

                <h5>@Html.DisplayNameFor(model => model.Ingredients)</h5>
                <p> @Html.DisplayFor(modelItem => item.Ingredients)</p>

                <h5 class="text-right muted">@Html.DisplayFor(modelItem => item.Price)</h5>

                <div class="card-footer">
                    @Html.ActionLink("Edit", "Edit", new { item.StoreId, item.Id }) |
                    @Html.ActionLink("Details", "Details", new { item.StoreId, item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.StoreId, item.Id })
                </div>
        </div>
    </div>
    }
</div>
